## Starting with Data Visualization for Immo-Eliza

### Importing the necessary libraries

In [108]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

### Importing dataset from the address

In [109]:
file_path = "/Users/mac/Documents/GitHub/sam_challenge_collecting_data/data/house_details.csv"
df = pd.read_csv(file_path)

### printing first 5 property details

In [110]:
print(df.head())

         id                     Stad Property type    Region      Subtype  \
0  10674794                BRUXELLES             0  BRUSSELS  HOUSE_GROUP
1  10681697                    Liege   RESIDENTIAL  WALLONIE        HOUSE
2  10677619                    Liege      ISOLATED  WALLONIE        HOUSE
3  10679009  Geraardsbergen Moerbeke             0  FLANDERS  HOUSE_GROUP
4  10679351                Vilvoorde   RESIDENTIAL  FLANDERS        VILLA

    Price      Type of sale  Construction year  Bedroom Count  \
0       0        group_sale                  0              0
1  149000  residential_sale               1899              4
2  179000  residential_sale               1918              3
3       0        group_sale                  0              0
4  430000  residential_sale               1989              3

   Habitable surface   Kitchen type  Furnished  Fireplace  Terrace  Garden  \
0                  0              0          0          0        0       0
1                137      INSTALLED          1          0        1       0
2                137      INSTALLED          0          0        1       1
3                  0              0          0          0        0       0
4                132  SEMI_EQUIPPED          0          0        1       1

   Garden surface  Facades  SwimmingPool Condition EPC score
0               0        0             0         0         A
1             110        2             0      GOOD         F
2             145        2             0      GOOD         E
3               0        0             0         0         0
4             623        3             0      GOOD         F

### checking the missing values

In [111]:
df.isna().any()

id                   False
Stad                 False
Property type        False
Region               False
Subtype              False
Price                False
Type of sale         False
Construction year    False
Bedroom Count        False
Habitable surface    False
Kitchen type         False
Furnished            False
Fireplace            False
Terrace              False
Garden               False
Garden surface       False
Facades              False
SwimmingPool         False
Condition            False
EPC score            False
dtype: bool

* Since we have already replaced the missing values with 0 we are not getting true for df.isna()

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10198 entries, 0 to 10197
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10198 non-null  int64
 1   Stad               10198 non-null  object
 2   Property type      10198 non-null  object
 3   Region             10198 non-null  object
 4   Subtype            10198 non-null  object
 5   Price              10198 non-null  int64
 6   Type of sale       10198 non-null  object
 7   Construction year  10198 non-null  int64
 8   Bedroom Count      10198 non-null  int64
 9   Habitable surface  10198 non-null  int64
 10  Kitchen type       10198 non-null  object
 11  Furnished          10198 non-null  int64
 12  Fireplace          10198 non-null  int64
 13  Terrace            10198 non-null  int64
 14  Garden             10198 non-null  int64
 15  Garden surface     10198 non-null  int64
 16  Facades            10198 non-null  int64
 17  SwimmingPool       10198 non-null  int64
 18  Condition          10198 non-null  object
 19  EPC score          10198 non-null  object
dtypes: int64(12), object(8)
memory usage: 1.6+ MB

#### Counter for the properties which does not have a selling price value

In [113]:
count = 0
list_property_values = df["Price"].to_list()
#print(list_property_values)
for i in list_property_values:
    if i == 0:
        count += 1
print(count)

310

#### Cleaning the properties with 0 price value

In [114]:
df = df[df["Price"] != 0]
print(df.head())

         id                 Stad Property type    Region Subtype   Price  \
1  10681697                Liege   RESIDENTIAL  WALLONIE   HOUSE  149000
2  10677619                Liege      ISOLATED  WALLONIE   HOUSE  179000
4  10679351            Vilvoorde   RESIDENTIAL  FLANDERS   VILLA  430000
5  10680254  La Roche-en-Ardenne       COUNTRY  WALLONIE   VILLA  398000
6  10679090           Oudenaarde   RESIDENTIAL  FLANDERS   HOUSE  439000

       Type of sale  Construction year  Bedroom Count  Habitable surface  \
1  residential_sale               1899              4                137
2  residential_sale               1918              3                137
4  residential_sale               1989              3                132
5  residential_sale               1991              3                170
6  residential_sale               1999              2                161

     Kitchen type  Furnished  Fireplace  Terrace  Garden  Garden surface  \
1       INSTALLED          1          0        1       0             110
2       INSTALLED          0          0        1       1             145
4   SEMI_EQUIPPED          0          0        1       1             623
5  HYPER_EQUIPPED          0          0        1       1            1193
6  HYPER_EQUIPPED          0          0        1       1             680

   Facades  SwimmingPool Condition EPC score
1        2             0      GOOD         F
2        2             0      GOOD         E
4        3             0      GOOD         F
5        4             0      GOOD         D
6        4             0    AS_NEW         C

#### Counter of properties with swimming pool

In [115]:
count = 0
for i in df["SwimmingPool"].to_list():
    if i != 0:
        count += 1

print(count)

394

In [116]:
df.shape
#df.columns

(9888, 20)

In [117]:
duplicates = df.duplicated()
print(df[duplicates])

             id           Stad Property type    Region               Subtype  \
199    10681864           Gent         URBAN  FLANDERS                 HOUSE
319    10681697          Liege   RESIDENTIAL  WALLONIE                 HOUSE
332    10681696        Seraing      ISOLATED  WALLONIE                 HOUSE
436    10681608      Havelange       COUNTRY  WALLONIE                 VILLA
438    10681607        Aubange      ISOLATED  WALLONIE                 HOUSE
...         ...            ...           ...       ...                   ...
10095  10681797       Waterloo             0  WALLONIE                 VILLA
10146  10669508  Brussels City             0  BRUSSELS  EXCEPTIONAL_PROPERTY
10149  10669507     Anderlecht   RESIDENTIAL  BRUSSELS  EXCEPTIONAL_PROPERTY
10154  10669506     Anderlecht   RESIDENTIAL  BRUSSELS                 HOUSE
10157  10669505          Wavre      ISOLATED  WALLONIE                 VILLA

         Price      Type of sale  Construction year  Bedroom Count  \
199     350000  residential_sale                  0              2
319     149000  residential_sale               1899              4
332     129000  residential_sale               1899              3
436     395000  residential_sale               1977              4
438     460000  residential_sale               1992              4
...        ...               ...                ...            ...
10095  2200000  residential_sale               1930              5
10146   960000  residential_sale               1960              6
10149   960000  residential_sale               1960              6
10154   399000  residential_sale               1955              4
10157   435000  residential_sale               1972              4

       Habitable surface        Kitchen type  Furnished  Fireplace  Terrace  \
199                  127      HYPER_EQUIPPED          0          0        1
319                  137           INSTALLED          1          0        1
332                  126       NOT_INSTALLED          0          0        1
436                  180  USA_HYPER_EQUIPPED          0          0        1
438                  130           INSTALLED          0          0        1
...                  ...                 ...        ...        ...      ...
10095                476       USA_INSTALLED          0          0        1
10146                400  USA_HYPER_EQUIPPED          0          0        1
10149                400  USA_HYPER_EQUIPPED          0          0        1
10154                170       SEMI_EQUIPPED          0          0        1
10157                185       USA_INSTALLED          0          0        1

       Garden  Garden surface  Facades  SwimmingPool       Condition EPC score
199         1              94        2             0            GOOD         B
319         0             110        2             0            GOOD         F
332         1             330        3             0     TO_RENOVATE         E
436         1            1000        4             0  JUST_RENOVATED         D
438         0             503        4             0            GOOD         C
...       ...             ...      ...           ...             ...       ...
10095       0            5000        3             0     TO_RENOVATE         C
10146       1            1090        3             0          AS_NEW         D
10149       1            1090        3             0          AS_NEW         D
10154       1             210        2             0   TO_BE_DONE_UP         F
10157       1             748        4             0            GOOD         D

[642 rows x 20 columns]

#### Cleaning the duplicate properties

In [118]:
# dropping the duplicates
duplicates = df.duplicated(subset=['Stad', 'Property type', 'Region', 'Subtype', 'Price',
       'Construction year', 'Bedroom Count',
       'Habitable surface', 'Kitchen type', 'Furnished', 'Fireplace',
       'Terrace', 'Garden', 'Garden surface', 'Facades', 'SwimmingPool',
       'Condition', 'EPC score'])
"""df = df.drop_duplicates(subset=['Stad', 'Property type', 'Region', 'Subtype', 'Price',
       'Construction year', 'Bedroom Count',
       'Habitable surface', 'Kitchen type', 'Furnished', 'Fireplace',
       'Terrace', 'Garden', 'Garden surface', 'Facades', 'SwimmingPool',
       'Condition', 'EPC score'], keep="first")"""
print(df[duplicates])

             id                Stad Property type    Region  \
102    10681964  Libramont-Chevigny   RESIDENTIAL  WALLONIE
106    10681976  Libramont-Chevigny   RESIDENTIAL  WALLONIE
120    10681946  Libramont-Chevigny   RESIDENTIAL  WALLONIE
173    10681881  Libramont-Chevigny   RESIDENTIAL  WALLONIE
184    10659534         Dendermonde             0  FLANDERS
...         ...                 ...           ...       ...
10149  10669507          Anderlecht   RESIDENTIAL  BRUSSELS
10154  10669506          Anderlecht   RESIDENTIAL  BRUSSELS
10156  10515394            Meerhout             0  FLANDERS
10157  10669505               Wavre      ISOLATED  WALLONIE
10196  10669455               Arlon             0  WALLONIE

                    Subtype   Price      Type of sale  Construction year  \
102               APARTMENT  235000  residential_sale               2023
106               APARTMENT  237500  residential_sale               2023
120               APARTMENT  247500  residential_sale               2023
173               APARTMENT  245000  residential_sale               2023
184                   HOUSE  599000  residential_sale               1987
...                     ...     ...               ...                ...
10149  EXCEPTIONAL_PROPERTY  960000  residential_sale               1960
10154                 HOUSE  399000  residential_sale               1955
10156                 HOUSE  301000  residential_sale               2022
10157                 VILLA  435000  residential_sale               1972
10196                 HOUSE  389000  residential_sale               1950

       Bedroom Count  Habitable surface        Kitchen type  Furnished  \
102                2                  0           INSTALLED          0
106                2                  0           INSTALLED          0
120                2                  0           INSTALLED          0
173                2                  0           INSTALLED          0
184                4                378           INSTALLED          0
...              ...                ...                 ...        ...
10149              6                400  USA_HYPER_EQUIPPED          0
10154              4                170       SEMI_EQUIPPED          0
10156              3                133           INSTALLED          0
10157              4                185       USA_INSTALLED          0
10196              3                135           INSTALLED          0

       Fireplace  Terrace  Garden  Garden surface  Facades  SwimmingPool  \
102            0        1       0               0        4             0
106            0        1       0               0        4             0
120            0        1       0               0        4             0
173            0        1       0               0        4             0
184            1        0       1             571        3             0
...          ...      ...     ...             ...      ...           ...
10149          0        1       1            1090        3             0
10154          0        1       1             210        2             0
10156          1        1       1             162        2             0
10157          0        1       1             748        4             0
10196          0        1       1             290        2             0

           Condition EPC score
102           AS_NEW         0
106           AS_NEW         0
120           AS_NEW         0
173           AS_NEW         0
184    TO_BE_DONE_UP         B
...              ...       ...
10149         AS_NEW         D
10154  TO_BE_DONE_UP         F
10156              0         0
10157           GOOD         D
10196           GOOD         E

[759 rows x 20 columns]

In [119]:
df.shape

(9888, 20)

In [120]:
df.head()

,id,Stad,Property type,Region,Subtype,Price,Type of sale,Construction year,Bedroom Count,Habitable surface,Kitchen type,Furnished,Fireplace,Terrace,Garden,Garden surface,Facades,SwimmingPool,Condition,EPC score
1,10681697,Liege,RESIDENTIAL,WALLONIE,HOUSE,149000,residential_sale,1899,4,137,INSTALLED,1,0,1,0,110,2,0,GOOD,F
2,10677619,Liege,ISOLATED,WALLONIE,HOUSE,179000,residential_sale,1918,3,137,INSTALLED,0,0,1,1,145,2,0,GOOD,E
4,10679351,Vilvoorde,RESIDENTIAL,FLANDERS,VILLA,430000,residential_sale,1989,3,132,SEMI_EQUIPPED,0,0,1,1,623,3,0,GOOD,F
5,10680254,La Roche-en-Ardenne,COUNTRY,WALLONIE,VILLA,398000,residential_sale,1991,3,170,HYPER_EQUIPPED,0,0,1,1,1193,4,0,GOOD,D
6,10679090,Oudenaarde,RESIDENTIAL,FLANDERS,HOUSE,439000,residential_sale,1999,2,161,HYPER_EQUIPPED,0,0,1,1,680,4,0,AS_NEW,C

In [121]:

count = 0
for i in df["Fireplace"].to_list():
    if i != 0:
        count += 1

print(count)
df

3539

,id,Stad,Property type,Region,Subtype,Price,Type of sale,Construction year,Bedroom Count,Habitable surface,Kitchen type,Furnished,Fireplace,Terrace,Garden,Garden surface,Facades,SwimmingPool,Condition,EPC score
1,10681697,Liege,RESIDENTIAL,WALLONIE,HOUSE,149000,residential_sale,1899,4,137,INSTALLED,1,0,1,0,110,2,0,GOOD,F
2,10677619,Liege,ISOLATED,WALLONIE,HOUSE,179000,residential_sale,1918,3,137,INSTALLED,0,0,1,1,145,2,0,GOOD,E
4,10679351,Vilvoorde,RESIDENTIAL,FLANDERS,VILLA,430000,residential_sale,1989,3,132,SEMI_EQUIPPED,0,0,1,1,623,3,0,GOOD,F
5,10680254,La Roche-en-Ardenne,COUNTRY,WALLONIE,VILLA,398000,residential_sale,1991,3,170,HYPER_EQUIPPED,0,0,1,1,1193,4,0,GOOD,D
6,10679090,Oudenaarde,RESIDENTIAL,FLANDERS,HOUSE,439000,residential_sale,1999,2,161,HYPER_EQUIPPED,0,0,1,1,680,4,0,AS_NEW,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10193,10626900,Keerbergen,ISOLATED,FLANDERS,VILLA,649000,residential_sale,1938,3,170,HYPER_EQUIPPED,0,0,0,0,2430,4,0,AS_NEW,C
10194,10669454,Arlon,0,WALLONIE,HOUSE,389000,residential_sale,1950,3,135,INSTALLED,0,0,1,1,290,2,0,GOOD,E
10195,10669458,Dilbeek Groot-Bijgaarden,0,FLANDERS,HOUSE,239000,residential_sale,1929,1,165,NOT_INSTALLED,0,0,0,0,140,2,0,TO_RESTORE,F
10196,10669455,Arlon,0,WALLONIE,HOUSE,389000,residential_sale,1950,3,135,INSTALLED,0,0,1,1,290,2,0,GOOD,E
10197,10586486,Zedelgem,0,FLANDERS,HOUSE,185000,residential_sale,1971,3,132,0,0,0,1,0,216,3,0,TO_BE_DONE_UP,E